<header class="navbar navbar-fixed-top navbar-inverse <%=@style%>">
  <div class="container">
      <% if @logo  %>
        <%= link_to @logo[:name], @logo[:link],id: "logo" %>
      <%else%>
        <%= link_to "Grupo43App", root_path ,id: "logo" %>
      <%end%>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <% if @nav_elements  %>
            <% for elem in @nav_elements  %>
              <li> <%=link_to elem[:name],   elem[:link], method: elem[:method] %></li>
            <%end%>
          <%end%>
        </ul>
      </nav>
    </div>
</header>
