<div class="container">
  <div class="row">
    <div class="col-md-6 matchbody">
      <h1>MATCHAPP</h1><br>
      <%= render 'layouts/login_user_match' %><br>
    </div>
    <div class="col-md-6 localbody">
      <h1>LOCALAPP</h1><br>
      <%= render 'layouts/login_user_local' %><br>
    </div>
  </div>
</div>
